<!DOCTYPE html>
<html>
<head>
    <title>Рекламная компания</title>
    @Styles.Render("~/styles/select")
    @Styles.Render("~/styles/datatables")
    @Styles.Render("~/styles/datepicker")
    @Styles.Render("~/styles/kladr")
    @Styles.Render("~/styles/gins")

    <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
    <!--[if IE 9]>
        @Styles.Render("~/styles/gins-ie9")
    <![endif]-->

    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    @Scripts.Render("~/bundles/modernizr")
    <script src="~/areas/admin/scripts/app/boot/require.config.js"></script>
    <script data-main="/areas/admin/scripts/app/boot/startup.js" src="~/scripts/require/require.js"></script>
    <script>
        /*
           https://code.google.com/p/chromium/issues/detail?id=167083
           https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
</head>
<body style="display: none" data-bind="visible: true">

@Html.Partial("_Sidebar")
@Html.Partial("_Navbar")

<div class="content-wrap">
    <main id="content" class="content" role="main" data-bind="component: { name: 'analytics' }">
        @RenderBody()
        @*@RenderSection("SPAViews", required: false)*@
    </main>
</div>

@*@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/select")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/bootstrap-notify")
@Scripts.Render("~/bundles/datepicker")
@Scripts.Render("~/bundles/sing")
@Scripts.Render("~/bundles/kladr")
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
@RenderSection("Scripts", required: false)*@
</body>
</html>