<!DOCTYPE html>
<html>
<head>
    <title>Рекламная компания</title>
    @Styles.Render("~/Content/sing")

    <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
    <!--[if IE 9]>
        @Styles.Render("~/Content/sing-ie9")
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    @Scripts.Render("~/bundles/modernizr")

    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */   
    </script>
</head>
<body>

@Html.Partial("_Sidebar")
@Html.Partial("_Navbar")

<div class="content-wrap">
    <main id="content" class="content" role="main">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
    </main>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/sing")
@RenderSection("Scripts", required: false)

</body>
</html>