@model HandleErrorInfo
@{
    Layout = null;
    ViewBag.Title = "Учет клиентов рекламной компании | Ошибка";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/styles/app")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <main id="content" class="error-container" role="main">
            <div class="row mrgbtm24">
                <div class="col-lg-8 col-sm-12 col-xs-20 col-lg-offset-8 col-sm-offset-6 col-xs-offset-2">
                    <div class="error-container">
                        <h1 class="error-code">400</h1>
                        <p class="error-info">
                            Ошибка, запрос не может быть понят сервером из-за некорректного синтаксиса.
                        </p>
                        @*<p class="error-help mb"></p>*@
                    </div>
                </div>
            </div>

            @if (User.IsInRole("Administrator"))
            {
                <blockquote style="text-align: left;">
                    <p>@Model.Exception.Message</p>
                    <footer>@Model.Exception.StackTrace</footer>
                </blockquote>
            }
        </main>
    </div>
</body>
</html>