@using AdvertisingCompany.Domain.Models
@model AdvertisingCompany.Web.Areas.Admin.Models.CreateTaskViewModel
@{
    ViewBag.Title = "Создание нового задания";
}

<a href="@Url.Action("Index", "Task", new { area = "Admin" })">
    <span class="glyphicon glyphicon-circle-arrow-left back-link"></span>
</a>

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Create", "Task", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Клиент: @Model.ClientFullName</h4>
    @Html.HiddenFor(m => m.ClientFullName)
    <hr />

    <div class="form-group required-legend col-md-12">
        Символом <span class="glyph">*</span> отмечены поля, обязательные для заполнения.
    </div>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    @Html.HiddenFor(m => m.ClientId)
    <div class="form-group required">
        @Html.LabelFor(m => m.CityId, new { @class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.CityId, (SelectList)ViewBag.Cities, String.Empty, new { @id = "cityId", @class = "form-control" })
        </div>
    </div>
    <div class="form-group required">
        @Html.LabelFor(m => m.AreaId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.AreaId, (SelectList)new SelectList(new List<Area>()), new { @id = "areaId", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить
            </button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        $(function() {

            // загрузка микрорайонов города
            $('#cityId').on('change', function() {
                var cityId = $(this).val();

                $.post('/Address/GetAreas', { cityId: cityId }, function (areas) {
                    $('#areaId').html('');

                    $.each(areas, function(index, area) {
                        var option = "<option value='" + area.AreaId + "'>" + area.AreaName + '</option>';
                        $('#areaId').append(option);
                    });
                });
            });
          
        });
    </script>
}




